{% extends "site_base.html" %}
{% load i18n %}

{% block body %}

<div class="accordion" id="accordionCursos">
{% regroup object_list by curso as cursos %}

    {% for curso in cursos %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionCursos" 
            href="#collapseCurso{{curso.grouper}}">
               Curso: {{ curso.grouper }}
            </a>
        </div>
        <div id="collapseCurso{{curso.grouper}}" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="accordion" id="accordionEvaluacionesCurso{{curso.id}}">
                {% regroup curso.list by evaluacion_nombre as evaluaciones %}
                {% for evaluacion in evaluaciones %}
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" 
                                data-parent="#accordionEvaluacionesCurso{{curso.grouper}}" 
                                href="#collapseEvaluacion{{forloop.counter}}Curso{{curso.grouper}}">
                                Evaluación: {{ evaluacion.grouper }} 
                            </a>
                        </div>
                        <div id="collapseEvaluacion{{forloop.counter}}Curso{{curso.grouper}}" class="accordion-body collapse in">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha Subida</th>
                                    <th>Equipo</th>
                                    <th>examen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for examen in evaluacion.list %}
                                <tr>
                                    <td>{{examen.nombre}}</td>
                                    <td>{{examen.fecha_subida}}</td>
                                    <td>{{examen.equipo}}</td>
                                    <td><a href="{{examen.fichero.url}}">{{examen.fichero}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        
                        </div>
                    </div>
            </div>
            {% endfor %}    
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
