{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav">{% spaceless %}
    {% if user.is_authenticated %}
    <li id="lista_examenes"><a href="{% url  lista_examenes %}">{% trans "Lista Examenes" %}</a></li>
    {% endif %}
    {% endspaceless %}</ul>
{% endblock%}


{% block footer %}
<div class="legal">
    {% include "_footer.html" %}
</div>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
